/* === Responsive grid ===*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



.grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}


.card {
	background: white;
	border-radius: 0.75rem;
	padding: 1.5rem;
	box-shadow:  0 4px 10px rgba(0,0,0,0.05);
	
}

.card img {
	height: 50vh;
	width: auto;
	
}


/* === Responsive grid ===*/

/* === Content sections ===*/

section {
	padding: clamp(2rem, 5vw, 4rem), min(5%, 2rem);
	margin-bottom: 2rem;
}