/* === Reset & Base ===*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}


body {
      font-family: system-ui, sans-serif;
      line-height: 1.5;
      color: #222;
      background-color: #f9f9f9;

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	
}

/* === Reset & Base ===*/



/* === Navbar ===*/

nav {
	position: sticky;
	top: 0;
	background: #353536;
	padding: 1rem min(5%, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
    z-index: 100;

}

nav img {
	max-width: 100%;
	width: auto-fit;
	max-height: 100%;
	height: auto-fit;
}

nav ul {
	list-style: none;
	display: flex;
	float: right;
	gap: 1.5rem;

}

nav a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: 600;


}

nav a:hover {
	color: #0077ff;
}

/* === Navbar ===*/


























