/* === Reset & Base ===*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}


body {
      font-family: system-ui, sans-serif;
      line-height: 1.5;
      color: #222;
      background-color: #f9f9f9;

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	
}

/* === Navbar ===*/

nav {
	position: sticky;
	top: 0;
	background: #353536;
	padding: 1rem min(5%, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
    z-index: 100;

}

nav img {
	max-width: 100%;
	width: auto-fit;
	max-height: 100%;
	height: auto-fit;
}

nav ul {
	list-style: none;
	display: flex;
	float: right;
	gap: 1.5rem;

}

nav a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: 600;


}

nav a:hover {
	color: #0077ff;
}

/* === Navbar ===*/

/* === Hero ===*/

.hero {
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: center;
	height: 80vh;
	background-image: url("Winter.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: whitesmoke;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd
	
}

.hero h1 {
	font-size: clamp(2rem, 5vw, 3.5rem);
	max-width: 40rem;
}

.hero p {
	font-size: clamp(1rem, 2vw, 1.25rem);
	margin: 1rem 0 2rem;
}

.btn {
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: .5rem;
	background: white;
	color: #0077ff;
	font-weight: bold;
	cursor: pointer;


}

.btn:hover {
	background: #e6e6e6;
}

/* === Hero ===*/

/* === About ===*/


#about {
	color: #353536;
	background-image: url("aboutWinter.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 50vh;
	border-bottom: 1px solid #ddd
}

#about h2 {
	font-size: clamp(2rem, 5vw, 3.5rem);
	max-width: 40rem;
}

#about p {

	font-size: clamp(1rem, 2vw, 1.25rem);
	margin: 1rem 0 2rem;
}


/* === About ===*/


/* === Content sections ===*/

.section {
	padding: clamp(2rem, 5vw, 4rem), min(5%, 2rem);
	margin-bottom: 2rem;

}

.section h2 {
	font-size: clamp(1.5rem, 3vw, 2.25rem);
	margin-bottom: 1.5rem;
	text-align: center;
}

.section h3 {
	font-size: clamp(1rem, 2vw, 1.75rem);
	margin-bottom: .5rem;
	text-align: center;
	text-decoration-line: overline;
}

.section p {
	font-size: clamp(.75rem, 2vw, 1rem);
	text-align: center;
	margin-bottom: 1.5rem;
}

.section a {
	text-decoration-line: none;
	color: #353536;
}

/* === Content sections ===*/

/* === Responsive grid ===*/

.grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.item h4{
	text-align: center;
	margin: 1rem 0 0.5rem;

}



.card {
	background: white;
	border-radius: 0.75rem;
	padding: 1.5rem;
	box-shadow:  0 4px 10px rgba(0,0,0,0.05);
}

.card img {
	width: 100%;
	height: auto;
}

.card h3 {
	margin: 1rem 0 0.5rem;
}

/* === Responsive grid ===*/

/*=== Footer ===*/

footer {
	text-align: center;
	padding: 1rem;
	font-size: .0875rem;
	background-color:  #f0f0f0;

}

.footer p {
	font-size: clamp(.75rem, 2vw, 1rem);
	

}

/*=== Footer ===*/


